<!DOCTYPE html>
<html>
<head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield( :title ) %></title>
  <%= stylesheet_link_tag( "application", { media: "all" } ) %>
  <%= javascript_include_tag( "application" ) %>
  <%= csrf_meta_tags( ) %>
</head>
<body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to( "sample app", root_path, { id: "logo" } ) %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to( "Home", root_path, ) %></li>
            <li><%= link_to( "Help", help_path ) %></li>
            <li><%= link_to( "Sign in", "#" ) %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="container">
    <%= yield( ) %>
  </div>

  <footer class="footer">
    <small>
      <%= link_to( "Rails Tutorial", "http://rubyonrails.org/" ) %>   
      by Michael Hartl
    </small>

    <nav>
      <ul>
        <li><%= link_to( "About", about_path ) %></li>
        <li><%= link_to( "Contact", contact_path ) %></li>
        <li><%= link_to( "News", "http://news.rubyonrails.org/" ) %></li>
      </ul>
    </nav>
  </footer>
</body>
</html>
